Flask==3.0.3
Werkzeug==3.0.4
gunicorn==23.0.0
python-dotenv==1.0.1
pdfminer.six==20250506
gTTS==2.5.4
pydub==0.25.1
openai==1.55.3
python-docx==1.1.2
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
requests==2.32.3
pytest==8.3.3
cffi==1.17.1
